body {
  padding-top: 50px;
}

.spin {
  position: fixed;
  z-index: 999;
  height: 0px;
  width: 0px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sort-bar {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.sort-bar h3 {
  float: left;
  margin: 0;
  font-size: 16px;
}

.sort-bar .sort-dropdown {
  float: right;
}

.searchBar {
  float: left;
  margin-right: 5px;
}

.search {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.not-found {
  margin-top: 15px;
}

.park-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.park-list-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.park-list-item h3 {
  margin: 10px 0;
}
